<div class="gifts">
  <mat-card *ngFor="let gift of gifts">
    <a href="{{gift.Url}}" target="_blank">
      <mat-card-header class="text-oneline">
        <mat-card-title>{{gift.Title}}</mat-card-title>
      </mat-card-header>
      <img class="{{gift.Status | getGiftImageId}}" mat-card-image src="{{getImgUrl(gift.ImgUrl)}}" alt="{{gift.title}}" aria-disabled="true" *ngIf="isAvailable(gift.Status)">
      <img class="{{gift.Status | getGiftImageId}}" mat-card-image src="{{getImgUrl(gift.ImgUrl)}}" alt="{{gift.title}}" aria-disabled="true" *ngIf="!isAvailable(gift.Status)">
      <!-- <img mat-card-image src="{{gift.Status | getGiftImagePipe}}" alt="{{gift.title}}"> -->      
    </a>
    <mat-card-footer>
      <mat-card-actions>      
        <button mat-button (click)="removeGift(gift)" *ngIf="getIsAllowEditList()">
            <mat-icon aria-hidden="false" aria-label="remove" >
              remove_shopping_cart
            </mat-icon>
        </button>
        <button mat-button (click)="changeGiftStatus(gift)" *ngIf="showBuyGiftButton(gift)">
          <mat-icon aria-hidden="false" aria-label="buy gift" >
            card_giftcard
          </mat-icon>
        </button>
        <button mat-button (click)="changeGiftStatus(gift)" *ngIf="showFreeGiftButton(gift)">
          <mat-icon aria-hidden="false" aria-label="free gift" >
            clear
          </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>            
</div>
