<div class="gifts">
  <mat-card *ngFor="let gift of gifts">
    <a href="{{gift.Url}}" target="_blank">
        <mat-card-title>{{gift.Title}}</mat-card-title>
        <img mat-card-image src="assets/giftly.png" alt="{{gift.title}}">
    </a>
    <mat-card-actions>      
      <button mat-button (click)="removeGift(gift)">
          <mat-icon aria-hidden="false" aria-label="remove">
            remove_shopping_cart
          </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>            
</div>
