@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.gifts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .mat-card{
        background: #fff;
        margin: 1.5em;
        width: 100%;
        max-width: 200px;
        height: 250px;

        button{
            margin: auto;
            padding: 10px;
          }

        &:hover{
            box-shadow: 0 10px 10px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
        }
    }
}