<h1>{{_event.Name}}</h1>
<h2>{{_event.Description}}</h2>
<h2>{{_event.Date | date : format : longDate}}</h2>
<div class="search-input">
    <form layout layout-align="center" layout-padding [formGroup]="searchForm" (ngSubmit)="searchGift()">
        <mat-form-field class="giftly-form-field">
            <input matInput type="url" formControlName="url" placeholder="Search a gift" required>
        </mat-form-field>
        <button mat-stroked-button color="primary">Add</button>
    </form>
</div>

<div class="gifts">
    <!-- <mat-card *ngFor="let item of gifts">
        <mat-card-title>{{item.title}}</mat-card-title>
        <img mat-card-image src="{{item.img}}" alt="{{item.title}}">
    </mat-card> -->
    <giftly-gifts-table [(gifts)]="gifts" allowEditList="false"></giftly-gifts-table>
    <button mat-fab class="back-btn" (click)="backToDashboard()">Back</button>
</div>