<form [formGroup]="editableEventForm">
  <mat-form-field class="giftly-form-field">    
    <input matInput type="url" formControlName="name" placeholder="Event name" required>
  </mat-form-field>

  <mat-form-field class="giftly-form-field">
    <textarea matInput formControlName="description" id="event-description" placeholder="Enter description"></textarea>
  </mat-form-field>
  
  <mat-form-field class="giftly-form-field">
    <input formControlName="date" matInput [matDatepicker]="picker" id="event-date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="giftly-form-field">
    <input matInput formControlName="giftUrl" id="gift-url" placeholder="Add gift">
  </mat-form-field><button mat-stroked-button color="primary" (click)="addGift()" [disabled]="giftUrl.invalid">Add</button><br>
  <giftly-gifts-table [(gifts)]="gifts" allowEditList="true" friendWatching="false"></giftly-gifts-table>
</form>