
  <form [formGroup]="myForm">
  <mat-form-field class="giftly-form-field">    
    <input matInput type="url" formControlName="name" placeholder="Event name" required>
  </mat-form-field>
  <span *ngIf="name.invalid && name.touched">
      <br>Name is required
  </span>
  <mat-form-field class="giftly-form-field">
    <textarea matInput formControlName="description" id="event-description" placeholder="Enter description"></textarea><br><br>
  </mat-form-field>
  
  Date: <input formControlName="date" type="date"  ><br><br>   <!--TODO: change date format to: DD-MM-YYYY -->
  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" id="event-date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

  <mat-form-field class="giftly-form-field">
    <input matInput formControlName="giftUrl" id="gift-url" placeholder="Add gift">
  </mat-form-field><button type="button" (click)="addGift()" [disabled]="giftUrl.invalid">+</button><br>
  <table class="new-event__table fd-table">
    <thead>
    <tr class="new-event__table-header fd-table__header">
      <th class="fd-table__header--url">URL</th>
      <th class="fd-table__header--status">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr class="fd-table__cell" *ngFor='let gift of _gifts'>
      <td class="fd-table__cell--url">{{gift.Url}}</td>
      <td class="fd-table__cell--status">{{gift.Status | setGiftStatusPipe}}</td>    
      <td class="fd-table__cell--remove"><button (click)="removeGift(gift)">-</button></td>  
    </tr>
    </tbody>
  </table>
</form>
  <button type="button" [disabled]="myForm.invalid" (click)="createEvent()">Save</button>  
  <button type="button">Discard</button> <!-- TODO: redirect back to events list -->
