.gifts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    .mat-card{
        background: #fff;
        margin: 1.5em;
        width: 100%;
        max-width: 300px;
        height: 300px;
    }

    .back-btn{
        position: fixed;
        bottom: 12px;
        right: 12px;
        text-align: center;

        .mat-button-wrapper{
            color: #fff;
        }
    }
}