<p>
  Event name: <input type="text" id="event-name"><br><br> <!-- TODO: name should be mandatory. astrics should be shown when the field is empty -->
  Description: <br>
  <textarea id="event-description"></textarea><br><br>
  Date: <input type="date" id="event-date" ><br><br>  <!-- TODO: change date format to: DD-MM-YYYY -->
  Gift: <input type="uri" id="gift-url"><button type="button" (click)="addGift()">+</button><br>

  <table class="new-event__table fd-table">
    <thead>
    <tr class="new-event__table-header fd-table__header">
      <th class="fd-table__header--url">URL</th>
      <th class="fd-table__header--status">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr class="fd-table__cell" *ngFor='let gift of _gifts'>
      <td class="fd-table__cell--url">{{gift.Url}}</td>
      <td class="fd-table__cell--status">{{gift.Status | setGiftStatusPipe}}</td>    
      <td class="fd-table__cell--remove"><button (click)="removeGift(gift)">-</button></td>  
    </tr>
    </tbody>
  </table>

  <button type="button" (click)="createEvent()">Save</button>  
  <button type="button">Discard</button> <!-- TODO: redirect back to events list -->
